<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add Question</h1>
    <form action="/questions/add" method="post">
        <textarea name="question" id=""></textarea><br>
        category: <select name="CategoryId" id="">
            <option value="1">javascript</option>
            <option value="2">Python</option>
            <option value="3">HTML</option>
            <option value="4">CSS</option>
        </select> <br>
        <button type="submit">Add Question</button>
    </form>
</body>
</html>