<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>login Form</h1>
    
    <div>
        
        <form action="/login" method="post">   
    
    <div>
        <label>Start-Up Name</label>
        <input type="text" name ="startUpName" >
    </div>
    <div>
        <label>Founder Name</label>
        <input type="text" name="founderName">
    </div>
    <div>
        <label>Date Found</label>
        <input type="date" name="dateFound">
    </div>
    <div>
        <label>Education of Founder</label>
        <input type="text" name ="educationOfFounder">
    </div>
    <div>
        <label>Valuation</label>
        <input type="number" name="valuation" value>
    </div>
    <button type="submit">Submit</button>
    </form>
</div>
    
</body>
</html>